* {
    background-color: skyblue;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
h1 {
    font-size: 36px;
    color: black;
}
li {
    font-weight: 700;
    font-size: 18px;
}